ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
intltool-*
libtool
ltmain.sh
missing
stamp-h1
*.desktop
po/Makefile.in.in
po/*.gmo
po/*.mo
po/POTFILES
po/.intltool-merge-cache
po/stamp-*
*.o
*.lo
*.la
.libs
.deps
config.h.in~
