*.bz2
*.desktop
*.la
*.lo
*.o
.deps
.libs
/nbproject
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
configure.ac
depcomp
install-sh
intltool-*
libtool
ltmain.sh
m4/
missing
po/*.gmo
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
po/stamp-*
stamp-h1
